body {
  font-family: "Helvetica";
  margin: 0 auto;
  width: 960px;
  height: 100%;
  border-left-style: solid;
  border-left-color:black;
  border-left-width:5px;
  border-right-style: solid;
  border-right-color:black;
  border-right-width:5px;
  background-color: rgb(152, 0, 0);
  background: radial-gradient(circle, rgb(52,0,0),rgb(152,0,0));
}

.title-container {
    width:100%;
    height:70px;
    float:left;
    background-color: black;
    display: block;
    position: relative;
}

.content{
	background: radial-gradient(circle, rgb(282, 282, 282), rgb(136,136,136));
	padding: 40px;
	padding-top:80px;
	height:100%;
}

@media(min-width:400px) and (max-width:800px){
	.columnA{
		float:left;
		font-weight: 100;
		padding: 30px;
		font-size: 14px;
		color #7d7d7d;
		width:100%;
	}
}

@media(min-width:800px) and (max-width:1200px){
	.columnA{
		float:left;
		font-weight: 100;
		padding: 30px;
		font-size: 14px;
		color #7d7d7d;
		width:50%;
	}
	.columnB{
		float:left;
		font-weight: 100;
		padding: 30px;
		font-size: 14px;
		color #7d7d7d;
		width:50%;
	}
}

h1 {
	color: white;
	padding-left:40px;
	float: left;
	font-weight: 100;
	font-size: 32px;
}

h2{
	font-size: 20px;
	color: white;
	padding-left:40px;
	padding-right: 40px;
	padding-top: 10px;
	float: right;
	font-weight: 100;
}

h3{
	font-size: 20px;
	color: black;
	font-weight: 100;
}